body {
    background-color: white;
    background-image: url("../images/hpbk_5.jpg");
    background-repeat: repeat-y;
    background-position: top center;
    height: 764px;
}

h3, h4 {
    width: 100%;
    text-align: center;
    margin: 0;
}
h3, h4, p, dd, dt{
    font-family: Georgia,freeserif,serif;
}
p, dl {
    margin-top: 2px;
    margin-bottom: 10px;
}
