body {
    min-width:800px;
    min-height:600px;
}

form {
  /* for safari 3*/
  margin-bottom: 0px;
}

img {
    border: none 0;
}

textarea {
    font-family: Verdana,Arial,sans-serif;
}

a {
    text-decoration: none;
    font-family: Georgia,freeserif,serif;
}

#helpframe {
    width:501px;
    height:510px;
    border:solid 1px;
}

.dti {
    width: 100px;
}
.dti a {
    margin-top: 8px;
    margin-left: 8px;
}
.dti img {
    margin: 0px;
    float: center;
    position: relative;
}
.dti p {
    margin: -2px 0px 0px 0px;
    color: black;
    text-align: center;
    float: center;
    position: relative;
}

#dtis {
    position: fixed;
    top: 20px;
    left: 10px;
}

#dtis div {
    margin-top: 10px;
}

.si1 {
    margin-left: 2px;
}

.tm {
    position: fixed;
    top: 15px;
    width: 504px;
    z-index: 30;
    background-color: #8CBEFE;
    padding: 0px 2px;
}

#help {
    position: fixed;
    width: 504px;
    padding: 0px 2px;
    background-color: #8CBEFE;
    top: 50px;
    left:120px;
}

.pl {
    position: relative;
}

.tl {
    height: 22px;
    width: 100%;
    background-image: url("../images/tbb.png");
    background-repeat: repeat-x;
    margin: 0px -2px;
}

.tlmsg {
    font-size: 11pt;
}

#tlname {
/*    float: center; */
}

.saveload {
    top: 23px;
    width: 504px;
    background-color: #FFE635;
    position: absolute;
    z-index: 10;
}

.saveload label{
    margin-left: 10px;
}

.saveload select{
    width: 100px;
}

.tlicon {
    margin-top: 5px;
    margin-right: -9px;
    border: none 0;
    height: 12px;
    width: 12px;
    float: right;
    position: relative;
}

.tlleft {
    height: 22px;
    float: left;
    left: 0px;
    position: relative;
}

.tlright {
    height: 22px;
    float: right;
    right: -4px;
    top: 0px;
    position: relative;
}

.code {
   /* width: 501px;*/
    position: relative;
}

.editarea {
    height: 400px;
    position: relative;
}

.resultarea {
    height: 100px;
    font-size: 10pt;
    resize: vertical;
    margin-bottom: 2px;
    background-image: url("../images/resbk_2.jpg");
    background-repeat: repeat-y;
    background-position: top center;
}

#wri {
    position: fixed;
    padding: 0px 2px;
    background-color: #8CBEFE;
    top: 100px;
    left:120px;
}

#wriin {
    top: 26px;
    right: 20px;
    width: 250px;
    height: 26px;
    background-image: url("../images/wriin.png");
    background-repeat: none;
    position: absolute;
}

#writarget{
    width: 196px;
    height: 15px;
    text-align: right;
    vertical-align: bottom;
    margin-left: 3px;
    margin-top: 3px;
}
}

#wriform {
/*    margin-top: 3px;
    border: none 0;
    vertical-align: middle;
    vertical-align: bottom;
*/
}

.wrigo {
    float: right;
    width: 40px;
    height: 23px;
    margin-right: 2px;
    cursor: pointer;
    margin-top: 2px;
}

#wrires {
    margin-top: 0px;
    margin-bottom: 1px;
    height: 430px;
    background-image: url("../images/ribk_3.jpg");
    background-repeat: repeat-y;
    background-position: top right;
}
